
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .campo {
        width: 350px;
    }

    .campoobservaciones {
        width: 870px;
        height: 50px;
    }

    .telas {
        background-color: white;
        border-radius: 15px;
    }

    .margins {
        margin-left: 10px;
    }

    .margin2 {
        margin-left: 60px;
    }


    .BotonR {
        width: 200px;
        color: white;
        background-color: #1ea0e8;
        margin-left: 10px;
    }

        .BotonR:hover {
            background-color: #246E97;
            color: white;
        }

    .encabezado {
        color: #246E97;
    }

    .colort {
        background-color: white;
    }

    .campofecha {
        width: 853px;
    }
</style>

<div class="margins container">
    <br />
    <div class=" panel-primary">
        <h1>Novedades </h1>
        <br />
        <div class="telas panel-heading">
            <div class="margin2">
                <br /><br />
                <h2>Novedades de producción</h2>
                <br />
                <br />
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label">Fecha de Registro</label>
                            <input type="date" class="campofecha form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="ejemplo_email_3" class="col-md-4 control-label">Descripcion</label>

                            <div class="col-md-8">
                                <textarea style="width:830px;" class="campo form-control" id="ejemplo_password_3" name="text_ciu" id="text_ciu"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="ejemplo_email_3" class="col-md-5 col-lg-4 control-label">Tipo de Novedad</label>
                            <select class="campo form-control" name="Proveedor">
                                <option>Daño Maquinaria</option>
                                <option>Tela mala</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ejemplo_email_3" class="col-md-5 col-lg-4 control-label">Produccion</label>
                            <select class="campo form-control" name="Proveedor">
                                <option>Produccion 5</option>
                                <option>Produccion 6</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    

                    <div class="row">
                        <div class="col-sm-offset-5 col-sm-2 text-center">
                            <div class="btn-group" data-toggle="buttons">
                                <button type="button" id="btn_enviar" class="BotonR btn">Registrar Novedad</button>
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <h3>Tabla novedades de producción</h3>
    <br />
    <table class=" colort table table-bordered table-striped" id="tabla">
        <thead>
            <tr class="encabezado">
                <td>Id</td>
                <td>Fecha de Registro</td>
                <td>Descrpcion</td>
                <td>Tipo Novedad Produccion</td>
                <td>Produccion</td>
                <td>Acciones</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>12/01/2021</td>
                <td>Ocurrió a las 6pm</td>
                <td>Daño Maquinaria</td>
                <td>Producción 5</td>
                <td>
                    <a asp-controller="Empleados" asp-action="Edit" asp-route-id="item.id"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>12/04/2021</td>
                <td>Llegó con el lote 0903</td>
                <td>Tela Mala</td>
                <td>Producción 5</td>
                <td>
                    <a asp-controller="Empleados" asp-action="Edit" asp-route-id="item.id"><i class="fas fa-edit"></i></a>
                </td>
            </tr>

        </tbody>
    </table>

    <br />
    <hr />
    <br />
    <div class=" panel-primary">
        <div class="telas panel-heading">
            <div class="margin2">
                <br /><br />
                <h2>Novedades de empleados</h2>
                <br />
                <br />
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label">Fecha de Registro</label>
                            <input type="date" class="campofecha form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="ejemplo_email_3" class="col-md-4 control-label">Descripcion</label>

                            <div class="col-md-8">
                                <textarea style="width:830px;" class="campo form-control" id="ejemplo_password_3" name="text_ciu" id="text_ciu"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="ejemplo_email_3" class="col-md-5 col-lg-4 control-label">Tipo de Novedad</label>
                            <select class="campo form-control" name="Proveedor">
                                <option>Incapacidad</option>
                                <option>Licencia de Maternidad</option>
                                <option>Calamidad doméstica</option>
                                <option>Cita Medica</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ejemplo_email_3" class="col-md-5 col-lg-4 control-label">Produccion</label>
                            <select class="campo form-control" name="Proveedor">
                                <option>Produccion 5</option>
                                <option>Produccion 6</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    

                    <div class="row">
                        <div class="col-sm-offset-5 col-sm-2 text-center">
                            <div class="btn-group" data-toggle="buttons">
                                <button type="button" id="btn_enviar" class="BotonR btn">Registrar Novedad</button>
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>

    <br /><br />
    <h3>Tabla novedades de empleados</h3>
    <br />
    <table class=" colort table table-bordered table-striped" id="tabla">
        <thead>
            <tr class="encabezado">
                <td>Id</td>
                <td>Fecha de Registro</td>
                <td>Descrpcion</td>
                <td>Tipo Novedad Empleado</td>
                <td>Produccion</td>
                <td>Acciones</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>12/01/2021</td>
                <td>Tiene una cita</td>
                <td>Cita Medica</td>
                <td>Producción 5</td>
                <td>
                    <a asp-controller="Empleados" asp-action="Edit" asp-route-id="item.id"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>12/04/2021</td>
                <td>Se murió su madre</td>
                <td>Calamidad Doméstica</td>
                <td>Producción 5</td>
                <td>
                    <a asp-controller="Empleados" asp-action="Edit" asp-route-id="item.id"><i class="fas fa-edit"></i></a>
                </td>
            </tr>

        </tbody>
    </table>
</div>
