@model AspNetCoreWithAdminLTE.Models.Empleados
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .inputs {
        width: 600px;
    }

    .contenedor {
        width: 700px;
        height: 100%;
        background-color: #ffff;
        border-radius: 15px;
    }

    .contenedor2 {
        margin-left: 60px;
    }

    h3 {
        margin-left: 50px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
</style>
<body style="background-color: #eee;">
    <br><br>
        <div class="container contenedor border">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Crear Empleados</h3>
                </div>
            </div>

            <div class="row">
                <div class="contenedor2 col-sm-10">
                    <form method="post" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Documento" class="control-label"></label>
                            <input type="text" asp-for="Documento" class="form-control" />
                            <span asp-validation-for="Documento" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input type="text" asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Apellido" class="control-label"></label>
                            <input type="text" asp-for="Apellido" class="form-control" />
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Edad" class="control-label"></label>
                            <input type="text" asp-for="Edad" class="form-control" />
                            <span asp-validation-for="Edad" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input type="email" asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Telefono" class="control-label"></label>
                            <input type="text" asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Cargo" class="control-label"></label>
                            <input type="text" asp-for="Cargo" class="form-control" />
                            <span asp-validation-for="Cargo" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Fecha" class="control-label"></label>
                            <input type="date" asp-for="Fecha" class="form-control" />
                            <span asp-validation-for="Fecha" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Estado" class="control-label"></label>
                            <input type="text" asp-for="Estado" class="form-control" />
                            <span asp-validation-for="Estado" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Crear Empleado" class="btn btn-primary" />
                        </div>
                        <br /><br />
                    </form>
                </div>
            </div>
        </div>
</body>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


